@model IEnumerable<ConfiMicToggler.Model.UserViewModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Benutzer</th>
            <th>Anzahl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.OrderByDescending(x => x.UsageCount))
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.UsageCount</td>
            </tr>
        }
    </tbody>
</table>
